@mixin font($size){
    font-family: 'Montserrat', sans-serif;
    font-weight: $size;
}

@mixin btn($color){
    width: 100%;
    border: 1px solid $color;
    color: $color;
    @include font(900);
    padding: 10px 0;
    transition: 0.4s
}

@mixin activeBtn($color){
    @include btn($color);
    background-color: $color;
    color: white;
    cursor: pointer;
}